:root {
    --blur-bg: rgba(233, 236, 241, 0.877);
    --back: #ffffffff;
    --font: #1f1f1f;
    --a: #007AFF;
    --tablinks: var(--blur-bg);
    --h: #1c1c1e;
    --card-shadow: rgba(0, 0, 0, 0.1);
}

    :root .dark-theme {
        --blur-bg: rgb(23, 23, 24);
        --back: #1c1c1e;
        --font: #ffffffd2;
        --a: #2f90f8;
        --tablinks: var(--blur-bg);
        --h: #ffffffff;
        --card-shadow: rgba(0, 0, 0, 0.4);
    } 

html {
    position: relative;
    min-height: 100%;
    font-size: 14px;
    font-family: 'Public Sans', sans-serif;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
    background-color: var(--back);
    color: var(--font);
}

h1, h2, h3, h4, h5, h6 {
    color: var(--h);
}

#card-title {
    color: cornflowerblue;
}


.navbar {
    background-color: var(--blur-bg);
    backdrop-filter: blur(10px);
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    top: 0;
    width: 100%;
    z-index: 1000;
}

.nav-link {
    color: var(--font);
    /*font-weight: 500;*/
    /* transition: all 0.2s ease; */
}

    .nav-link:hover {
        color: var(--a);
        text-decoration: underline;
    }

/* -------------------------------------
    This is not doing anything !
--------------------------------------*/
.container {
    flex: 1;
    max-width: 1250px;
    margin: 0 auto;
}

main {
    flex: 1 0 auto;
}

footer {
    flex-shrink: 0;
    padding: 5px;
    width: 100%;
    text-align: center;
    background-color: var(--blur-bg);
    backdrop-filter: blur(10px);
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    margin-top: auto;
}
