@model Company

<div class="card border-1 mt-4">
    <div class="card-header bg-secondary bg-gradient text-light ml-0 py-4">
        <div class="row px-4">
            <div class="col-6">
                <h5 class="pt-2 text-white">
                    @(Model.Id != 0 ? "Update" : "Create") Company
                </h5>
            </div>
        </div>
    </div>

    <div class="card-body p-4 ">
        <form method="post" class="row">
            <input asp-for="Id" hidden />
            <div class="row">
                <div class="col-12">
                    
                    <div class="p-3 border-0">
                        <div class="form-floating py-2 col-12">
                            <input asp-for="Name" class="form-control" />
                            <label asp-for="Name" class="ms-2"></label>
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>

                        <div class="form-floating py-2 col-12">
                            <input asp-for="StreetAddress" class="form-control"></input>
                            <label asp-for="StreetAddress" class="ms-2 text-muted">Address</label>
                            <span asp-validation-for="StreetAddress" class="text-danger"></span>
                        </div>

                        <div class="form-floating py-2 col-12">
                            <input asp-for="City" class="form-control" />
                            <label asp-for="City" class="ms-2"></label>
                            <span asp-validation-for="City" class="text-danger"></span>
                        </div>

                        <div class="form-floating py-2 col-12">
                            <input asp-for="State" class="form-control" />
                            <label asp-for="State" class="ms-2"></label>
                            <span asp-validation-for="State" class="text-danger"></span>
                        </div>

                        <div class="form-floating py-2 col-12">
                            <input asp-for="PostalCode" class="form-control" />
                            <label asp-for="PostalCode" class="ms-2"></label>
                            <span asp-validation-for="PostalCode" class="text-danger"></span>
                        </div>

                        <div class="form-floating py-2 col-12">
                            <input asp-for="PhoneNumber" class="form-control" />
                            <label asp-for="PhoneNumber" class="ms-2"></label>
                            <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                        </div>

                    </div>
                </div>

                <div class="row pt-2">
                    <div class="col-6 col-md-3">
                        @if (Model.Id != 0)
                        {
                            <button type="submit" class="btn btn-primary form-control">Update</button>
                        }
                        else
                        {
                            <button type="submit" class="btn btn-primary form-control">Create</button>
                        }

                    </div>

                    <div class="col-6 col-md-3">
                        <a asp-controller="Company" asp-action="Index" class="btn btn-outline-primary border form-control">
                            Back to List
                        </a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts{
    @{ 
        <partial name ="_ValidationScriptsPartial"/>
    }
}