@model Category

<div class="card border-1  mt-4">
    <div class="card-header ml-0 bg-primary text-light py-2">
        <h3 class="pt-2">Create Category</h3>
    </div>

    <div class="card-body p-4">

        <form method="post" class="row">
            <div class="form-floating py-2 col-12">
                <input asp-for="Name" class="form-control border-1" />
                <label asp-for="Name" class="ms-2"></label>
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>

            <div class="form-floating py-2 col-12">
                <input asp-for="DisplayOrder" class="form-control border-1" />
                <label asp-for="DisplayOrder" class="ms-2"></label>
                <span asp-validation-for="DisplayOrder" class="text-danger"></span>
            </div>
            @* <div asp-validation-summary="All" text-danger></div> *@
            <div class="row pt-2">
                <div class="col-6 col-md-2">
                    <button type="submit" class="btn btn-primary form-control">Create</button>
                </div>
                <div class="col-6 col-md-2">
                    <a asp-controller="Category" asp-action="Index" class="btn btn-outline-dark form-control">
                        Back to List
                    </a>
                </div>
            </div>
        </form>
    </div>
</div>


@section Scripts{
    @{ 
        <partial name ="_ValidationScriptsPartial"/>
    }
}
