@* <partial name="_Notification" /> *@

<div class="card border-1 mt-4">
    <div class="card-header bg-secondary bg-gradient text-light ml-0 py-4">
        <div class="row px-4">
            <div class="col-6">
                <h5 class="pt-2 text-white">
                    User List
                </h5>
            </div>
        </div>
    </div>

    <div class="card-body p-4">
        
        <div class="table-responsive">
            <table id="tblData" class="table table-sm-3">
                <thead class="table-info">
                    <tr>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Phone</th>
                        <th>Company</th>
                        <th>Role</th>
                        <th></th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/js/user.js"></script>
}